body{
    background: url("../images/tlo.jpg");
    color: lightgray;
}
#topbar{
    background-color: dodgerblue;
    width: 40%;
    padding: 3%;
    border-radius: 15px;
    margin-left: 30%;
    margin-top: 3%;
    text-align: center;
}

.logo{
    margin-left: 50%;
}

#search{
    float: left;
}

#videocontent{
    background: radial-gradient(circle, rgba(179,178,178,0.8) 25%, rgba(143,139,131,0.8) 100%);
    width: 40%;
    margin-left: 30%;
    margin-top: 1%;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
}
.videotemplate{
    background-color: darkolivegreen;
    opacity: 80%;
    display: flex;
    margin-bottom: 3%;
    margin-top: 5%;
    border-radius: 15px;
    padding: 3%;
}
.videoinfo{
    margin-left: 10%;
}
.videothumbnail{
    margin-top: 5%;
    margin-left: 3%;

}
.editButton{
    margin-top: 10%;
    margin-left: 5%;
}
.button{
    margin-left: 10%;
    margin-top: 10%;
    background-color: dodgerblue;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}
.button:hover {
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(45,145,166,0.9836309523809523) 55%, rgba(9,9,121,1) 100%);
    color: white;
    box-shadow: 3px 3px 31px 3px rgba(111,220,247,1);
}
.insideLogo{
    width: 100px;
    height: 100px;
}

