body{
    background: deepskyblue;
}
#topbar{
    background-color: dodgerblue;
    width: 40%;
    padding: 3%;
    border-radius: 15px;
    margin-left: 30%;
    margin-top: 3%;
    text-align: center;
}

.logo{
    float: left;
}

#search{
    float: left;
}

#videocontent{
    background: darkcyan;
    width: 50%;
    padding: 3% 10% 10% 10%;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 30px;
}
.videotemplate{
    background: coral;
    padding: 3%;
    border-radius: 30px;
    display: flex;
    margin-bottom: 3%;
}
.videoinfo{
    margin-left: 15%;
}
.videothumbnail{

}