body{
    background: url("../images/tlo.jpg");
    background-size: contain;
    color: lightgray;
}

.logo{
    margin-left: 50%;
}

#search{
    float: left;
    margin-left: 45%;
}
#addVideo{
    margin-left: 80%;
}


#videocontent{
    background: radial-gradient(circle, rgba(179,178,178,0.8) 25%, rgba(143,139,131,0.8) 100%);
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-top: 1%;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
}
.videotemplate{
    background-color: darkolivegreen;
    opacity: 80%;
    display: flex;
    margin-bottom: 3%;
    margin-top: 5%;
    border-radius: 15px;
    padding: 3%;
}
.videoinfo{
    width: 30%;
    height: 30%;
    /*margin-left: 10%;*/
}
.videothumbnail{
    margin-top: 6%;
    margin-left: 3%;

}
.editButton{
    width: auto;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
}
.button{
    margin-left: 10%;
    margin-top: 10%;
    background-color: lightslategray;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}
.button:hover {
    background: linear-gradient(130deg, rgba(89,131,54,1) 25%, rgba(66,166,27,1) 48%, rgba(24,142,7,1) 81%);
    color: white;
    box-shadow: 3px 3px 31px 3px rgba(28,51,8,1);
}
.newVideoButton{
    background-color: lightslategray;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
    width: 50%;
    box-sizing: border-box;
}
.newVideoButton:hover {
    background: linear-gradient(130deg, rgba(89,131,54,1) 25%, rgba(66,166,27,1) 48%, rgba(24,142,7,1) 81%);
    color: white;
    box-shadow: 3px 3px 31px 3px rgba(28,51,8,1);
}
.insideLogo{
    width: 100px;
    height: 100px;
}

