<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding New Video</title>
    <link rel="stylesheet" href="../styles/newVideoCss.css">
</head>
<body>
<div id="container">
    <form id="newVideo">
        <div class="input">
            <label for="videoTitle">Video Title:</label>
            <input type="text" id="videoTitle" name="videoTitle">
        </div>

        <div class="input">
            <label for="videoDescription">Video Description:</label>
            <textarea id="videoDescription" name="videoDescription"></textarea>
        </div>

        <div class="input">
            <label for="videoTags">Video Tags:</label>
            <input type="text" id="videoTags" name="videoTags">
        </div>

        <div class="input">
            <label for="videoUrl">Video URL:</label>
            <input type="text" id="videoUrl" name="videoUrl">
        </div>

        <div class="input">
            <label for="uploadedBy">Uploaded By:</label>
            <input type="text" id="uploadedBy" name="uploadedBy">
        </div>

        <div class="input">
            <label for="contact">Contact: </label>
            <input type="text" id="contact" name="contact">
        </div>

        <button class="button">Add New Video</button>
    </form>

</div>

</body>
</html>