<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Library</title>
    <link rel="stylesheet" href="../styles/mainPageCss.css">
</head>
<body>
    <div id="mainContent">
        <div id="topbar">
            <form id="searchform">
                <label for="searchbar">
                    SEARCH BAR:
                </label>
                <input type="text" id="searchbar" name="searchbar" placeholder="search by name or tag">
                <button id="searchbutton">search</button>
            </form>
        </div>
        <div id="videocontent">

            <div class="videotemplate">

                <div class="videothumbnail">
                    <iframe
                            width="auto"
                            height="auto"
                            src="https://www.youtube.com/embed/W8r-tXRLazs"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                    </iframe>
                </div>
                <div class="videoinfo">
                    <p> TITLE: jakis inny</p>
                    <p> DESCRIPTION: costam innego</p>

                </div>
            </div>

                <div class="videotemplate">

                    <div class="videothumbnail">
                        <iframe
                                width="auto"
                                height="auto"
                                src="https://www.youtube.com/embed/XfR9iY5y94s"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                        </iframe>
                    </div>
                    <div class="videoinfo">
                        <p> TITLE: jakistam</p>
                        <p> DESCRIPTION: costam</p>

                    </div>
            </div>

        </div>
    </div>

</body>
</html>