<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Library</title>
    <link rel="stylesheet" href="../styles/mainPageCss.css">
    <script src="../scripts/showAllVideosHandler.js" defer></script>
</head>
<body>
    <div id="mainContent">
        <div id="topbar">
            <div class="logo">
                <a href="../views/mainPage.html"><img src="../images/youtube.png" width="50" height="50" alt="logo"></a>
            </div>
            <div id="search">
                <form id="searchform">
                    <label for="searchbar">
                        SEARCH BAR:
                    </label>
                    <input type="text" id="searchbar" name="searchbar" placeholder="search by name or tag">
                    <button id="searchbutton">search</button>
                </form>
            </div>
            <div id="addVideo">
                <form action="http://localhost:5000/addvideo">
                    <input type="submit" value="Add New Video" />
                </form>
            </div>
        </div>
        <div id="videocontent">

        </div>
    </div>

</body>
</html>